<form method="post" action="{{ path('app_constructeur_delete', {'id': constructeur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ constructeur.id) }}">
    <button class="btn">Delete</button>
</form>
