{% extends 'base.html.twig' %}

{% block title %}Modifier le Constructeur{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier un Constructeur</h1>

    {{ include('constructeur/_form.html.twig', {'button_label': 'Update'}) }}

    <a role="button" aria-pressed="true" class="btn btn-primary" href="{{ path('app_constructeur_index') }}">Accueil</a>

    {{ include('constructeur/_delete_form.html.twig') }}
{% endblock %}
