{% extends 'base.html.twig' %}

{% block title %}Éditer le véhicule{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier le véhicule</h1>

    {{ include('voiture/_form.html.twig', {'button_label': 'Update'}) }}

    <a role="button" aria-pressed="true" class="btn btn-primary px-4"  href="{{ path('app_home') }}">Accueil</a>

    {{ include('voiture/_delete_form.html.twig') }}
{% endblock %}
