{% extends 'base.html.twig' %}

{% block title %}Nouveau véhicule{% endblock %}

{% block body %}
    <h1>Ajouter un véhicule</h1>

    {{ include('voiture/_form.html.twig') }}

    <a role="button" aria-pressed="true" class="btn btn-primary" href="{{ path('app_home') }}">Accueil</a>
{% endblock %}
